/* ---------- Reset ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(0, 0%, 100%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: hsl(233, 47%, 7%);
    font-size: 15px;
}

/* ---------- Contenitore principale ---------- */

main {
    display: flex;
    background: hsl(244, 38%, 16%);
    width: 80%;
    height: 45%;
    border-radius: 5px;
    position: relative;
}


/* ---------- Grandezza dei contenitori ---------- */

.cnt {
    width: 50%;
    height: 100%;
}

/* ---------- Contenitore sinistro ---------- */

.cnt.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.left h1 span {
    color: hsl(277, 64%, 61%);
}

.left .details {
    font-size: 0.75em;
    width: 90%;
    margin-bottom: 30px;
    line-height: 1.3rem;
    color: hsla(0, 0%, 100%, 0.75);
}

/* ---------- Dati sotto al paragrafo ---------- */

.data {
    display: flex;
    gap: 40px;
}

.data span {
    display: flex;
    flex-direction: column;
}

p span {
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 0.75em;
    font-weight: 400;
}

p span span {
    text-transform: none;
    font-weight: bold;
    font-size: 1.2rem;
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
}




/* ---------- Contenitore destro ---------- */
.cnt.right {
    position: relative;
}

/* ---------- Filtro viola per l'immagine ---------- */
.filter {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: hsla(277, 64%, 61%, 0.5);
    border-radius: 5px;
}

.cnt.right img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    border-radius: 0 5px 5px 0;
}